ECILINK/SERVPOR_actualizado/CAWSASE/Web References/wsConsInn/wsConsInn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/Extranet/WebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/Extranet/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/Extranet/WebServices">
      <s:element name="wsConsInn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLocal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPoliza" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRutSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombreSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDireccionSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCiudadSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCodigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsConsInnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsConsInnResult" type="tns:clsConsInn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsConsInn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sFechaCons" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sCodResp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sDesResp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="clsConsInn" nillable="true" type="tns:clsConsInn" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsConsInnSoapIn">
    <wsdl:part name="parameters" element="tns:wsConsInn" />
  </wsdl:message>
  <wsdl:message name="wsConsInnSoapOut">
    <wsdl:part name="parameters" element="tns:wsConsInnResponse" />
  </wsdl:message>
  <wsdl:message name="wsConsInnHttpGetIn">
    <wsdl:part name="sLocal" type="s:string" />
    <wsdl:part name="nPoliza" type="s:string" />
    <wsdl:part name="sEmpresa" type="s:string" />
    <wsdl:part name="sUsuario" type="s:string" />
    <wsdl:part name="sContrasena" type="s:string" />
    <wsdl:part name="sRutSR" type="s:string" />
    <wsdl:part name="sNombreSR" type="s:string" />
    <wsdl:part name="sDireccionSR" type="s:string" />
    <wsdl:part name="sCiudadSR" type="s:string" />
    <wsdl:part name="sCodigo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsConsInnHttpGetOut">
    <wsdl:part name="Body" element="tns:clsConsInn" />
  </wsdl:message>
  <wsdl:message name="wsConsInnHttpPostIn">
    <wsdl:part name="sLocal" type="s:string" />
    <wsdl:part name="nPoliza" type="s:string" />
    <wsdl:part name="sEmpresa" type="s:string" />
    <wsdl:part name="sUsuario" type="s:string" />
    <wsdl:part name="sContrasena" type="s:string" />
    <wsdl:part name="sRutSR" type="s:string" />
    <wsdl:part name="sNombreSR" type="s:string" />
    <wsdl:part name="sDireccionSR" type="s:string" />
    <wsdl:part name="sCiudadSR" type="s:string" />
    <wsdl:part name="sCodigo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsConsInnHttpPostOut">
    <wsdl:part name="Body" element="tns:clsConsInn" />
  </wsdl:message>
  <wsdl:portType name="ConsInnominadoSoap">
    <wsdl:operation name="wsConsInn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de Cliente Innominado</wsdl:documentation>
      <wsdl:input message="tns:wsConsInnSoapIn" />
      <wsdl:output message="tns:wsConsInnSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConsInnominadoHttpGet">
    <wsdl:operation name="wsConsInn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de Cliente Innominado</wsdl:documentation>
      <wsdl:input message="tns:wsConsInnHttpGetIn" />
      <wsdl:output message="tns:wsConsInnHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConsInnominadoHttpPost">
    <wsdl:operation name="wsConsInn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de Cliente Innominado</wsdl:documentation>
      <wsdl:input message="tns:wsConsInnHttpPostIn" />
      <wsdl:output message="tns:wsConsInnHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsInnominadoSoap" type="tns:ConsInnominadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsConsInn">
      <soap:operation soapAction="http://localhost/Extranet/WebServices/wsConsInn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsInnominadoSoap12" type="tns:ConsInnominadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsConsInn">
      <soap12:operation soapAction="http://localhost/Extranet/WebServices/wsConsInn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsInnominadoHttpGet" type="tns:ConsInnominadoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wsConsInn">
      <http:operation location="/wsConsInn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsInnominadoHttpPost" type="tns:ConsInnominadoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wsConsInn">
      <http:operation location="/wsConsInn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsInnominado">
    <wsdl:port name="ConsInnominadoSoap" binding="tns:ConsInnominadoSoap">
      <soap:address location="http://clientes.seguroscontinental.com/wsConsInnD/wsConsInn.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsInnominadoSoap12" binding="tns:ConsInnominadoSoap12">
      <soap12:address location="http://clientes.seguroscontinental.com/wsConsInnD/wsConsInn.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsInnominadoHttpGet" binding="tns:ConsInnominadoHttpGet">
      <http:address location="http://clientes.seguroscontinental.com/wsConsInnD/wsConsInn.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsInnominadoHttpPost" binding="tns:ConsInnominadoHttpPost">
      <http:address location="http://clientes.seguroscontinental.com/wsConsInnD/wsConsInn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>