ECILINK/SERVPOR_actualizado/CAWSASE/Web References/wsSolModifica/wsSolModifica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/wsSolModifica/Service1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/wsSolModifica/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/wsSolModifica/Service1">
      <s:element name="wsIngresaSolicitudMod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTipo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPoliza" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRutPag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRutSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombreSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPaisSR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMoneda" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMonto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCondVenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sVigDesde" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPlazo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sObservacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsIngresaSolicitudModResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsIngresaSolicitudModResult" type="tns:clsSolLinMod" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsSolLinMod">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nAnalisis" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sTipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nPoliza" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMoneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nMonto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sCondVenta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nPlazo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sVigDesde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sResultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dFechaSol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cPagador" type="tns:clsPersona" />
          <s:element minOccurs="0" maxOccurs="1" name="cAsegurado" type="tns:clsPersona" />
          <s:element minOccurs="0" maxOccurs="1" name="cSujeto" type="tns:clsPersona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsPersona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nCodigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nRut" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sDv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sTipoPersona" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sCiudad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sPais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="clsSolLinMod" nillable="true" type="tns:clsSolLinMod" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsIngresaSolicitudModSoapIn">
    <wsdl:part name="parameters" element="tns:wsIngresaSolicitudMod" />
  </wsdl:message>
  <wsdl:message name="wsIngresaSolicitudModSoapOut">
    <wsdl:part name="parameters" element="tns:wsIngresaSolicitudModResponse" />
  </wsdl:message>
  <wsdl:message name="wsIngresaSolicitudModHttpGetIn">
    <wsdl:part name="sTipo" type="s:string" />
    <wsdl:part name="nPoliza" type="s:string" />
    <wsdl:part name="sEmpresa" type="s:string" />
    <wsdl:part name="sUsuario" type="s:string" />
    <wsdl:part name="sContrasena" type="s:string" />
    <wsdl:part name="sRutPag" type="s:string" />
    <wsdl:part name="sRutSR" type="s:string" />
    <wsdl:part name="sNombreSR" type="s:string" />
    <wsdl:part name="sPaisSR" type="s:string" />
    <wsdl:part name="sMoneda" type="s:string" />
    <wsdl:part name="nMonto" type="s:string" />
    <wsdl:part name="sCondVenta" type="s:string" />
    <wsdl:part name="sVigDesde" type="s:string" />
    <wsdl:part name="nPlazo" type="s:string" />
    <wsdl:part name="sObservacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsIngresaSolicitudModHttpGetOut">
    <wsdl:part name="Body" element="tns:clsSolLinMod" />
  </wsdl:message>
  <wsdl:message name="wsIngresaSolicitudModHttpPostIn">
    <wsdl:part name="sTipo" type="s:string" />
    <wsdl:part name="nPoliza" type="s:string" />
    <wsdl:part name="sEmpresa" type="s:string" />
    <wsdl:part name="sUsuario" type="s:string" />
    <wsdl:part name="sContrasena" type="s:string" />
    <wsdl:part name="sRutPag" type="s:string" />
    <wsdl:part name="sRutSR" type="s:string" />
    <wsdl:part name="sNombreSR" type="s:string" />
    <wsdl:part name="sPaisSR" type="s:string" />
    <wsdl:part name="sMoneda" type="s:string" />
    <wsdl:part name="nMonto" type="s:string" />
    <wsdl:part name="sCondVenta" type="s:string" />
    <wsdl:part name="sVigDesde" type="s:string" />
    <wsdl:part name="nPlazo" type="s:string" />
    <wsdl:part name="sObservacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsIngresaSolicitudModHttpPostOut">
    <wsdl:part name="Body" element="tns:clsSolLinMod" />
  </wsdl:message>
  <wsdl:portType name="SolModificaSoap">
    <wsdl:operation name="wsIngresaSolicitudMod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa Solicitud de Modificación de Línea de Crédito para clientes Nominados</wsdl:documentation>
      <wsdl:input message="tns:wsIngresaSolicitudModSoapIn" />
      <wsdl:output message="tns:wsIngresaSolicitudModSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SolModificaHttpGet">
    <wsdl:operation name="wsIngresaSolicitudMod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa Solicitud de Modificación de Línea de Crédito para clientes Nominados</wsdl:documentation>
      <wsdl:input message="tns:wsIngresaSolicitudModHttpGetIn" />
      <wsdl:output message="tns:wsIngresaSolicitudModHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SolModificaHttpPost">
    <wsdl:operation name="wsIngresaSolicitudMod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa Solicitud de Modificación de Línea de Crédito para clientes Nominados</wsdl:documentation>
      <wsdl:input message="tns:wsIngresaSolicitudModHttpPostIn" />
      <wsdl:output message="tns:wsIngresaSolicitudModHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SolModificaSoap" type="tns:SolModificaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsIngresaSolicitudMod">
      <soap:operation soapAction="http://tempuri.org/wsSolModifica/Service1/wsIngresaSolicitudMod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SolModificaSoap12" type="tns:SolModificaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsIngresaSolicitudMod">
      <soap12:operation soapAction="http://tempuri.org/wsSolModifica/Service1/wsIngresaSolicitudMod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SolModificaHttpGet" type="tns:SolModificaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wsIngresaSolicitudMod">
      <http:operation location="/wsIngresaSolicitudMod" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SolModificaHttpPost" type="tns:SolModificaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wsIngresaSolicitudMod">
      <http:operation location="/wsIngresaSolicitudMod" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolModifica">
    <wsdl:port name="SolModificaSoap" binding="tns:SolModificaSoap">
      <soap:address location="http://clientes.seguroscontinental.com/wsSolModificaD/wsSolModifica.asmx" />
    </wsdl:port>
    <wsdl:port name="SolModificaSoap12" binding="tns:SolModificaSoap12">
      <soap12:address location="http://clientes.seguroscontinental.com/wsSolModificaD/wsSolModifica.asmx" />
    </wsdl:port>
    <wsdl:port name="SolModificaHttpGet" binding="tns:SolModificaHttpGet">
      <http:address location="http://clientes.seguroscontinental.com/wsSolModificaD/wsSolModifica.asmx" />
    </wsdl:port>
    <wsdl:port name="SolModificaHttpPost" binding="tns:SolModificaHttpPost">
      <http:address location="http://clientes.seguroscontinental.com/wsSolModificaD/wsSolModifica.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>