ECILINK/SERVPOR_actualizado/CAWSASE/Web References/wsEstSolic/wsEstSolic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/wsEstSolic/Service1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/wsEstSolic/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/wsEstSolic/Service1">
      <s:element name="wsEstSolic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nPoliza" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsEstSolicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsEstSolicResult" type="tns:clsLinea" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsLinea">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nPoliza" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sResultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dFechaCon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cLineaNomCollection" type="tns:ArrayOfClsLineaNom" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClsLineaNom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsLineaNom" nillable="true" type="tns:clsLineaNom" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsLineaNom">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nRutSR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sDvSR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sNombreSR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMoneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nMontoSolic" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nMontoAprob" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sEstado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="clsLinea" nillable="true" type="tns:clsLinea" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsEstSolicSoapIn">
    <wsdl:part name="parameters" element="tns:wsEstSolic" />
  </wsdl:message>
  <wsdl:message name="wsEstSolicSoapOut">
    <wsdl:part name="parameters" element="tns:wsEstSolicResponse" />
  </wsdl:message>
  <wsdl:message name="wsEstSolicHttpGetIn">
    <wsdl:part name="nPoliza" type="s:string" />
    <wsdl:part name="sEmpresa" type="s:string" />
    <wsdl:part name="sUsuario" type="s:string" />
    <wsdl:part name="sContrasena" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsEstSolicHttpGetOut">
    <wsdl:part name="Body" element="tns:clsLinea" />
  </wsdl:message>
  <wsdl:message name="wsEstSolicHttpPostIn">
    <wsdl:part name="nPoliza" type="s:string" />
    <wsdl:part name="sEmpresa" type="s:string" />
    <wsdl:part name="sUsuario" type="s:string" />
    <wsdl:part name="sContrasena" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsEstSolicHttpPostOut">
    <wsdl:part name="Body" element="tns:clsLinea" />
  </wsdl:message>
  <wsdl:portType name="wsEstSolicSoap">
    <wsdl:operation name="wsEstSolic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Estado de Solicitudes de Línea Nominado</wsdl:documentation>
      <wsdl:input message="tns:wsEstSolicSoapIn" />
      <wsdl:output message="tns:wsEstSolicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsEstSolicHttpGet">
    <wsdl:operation name="wsEstSolic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Estado de Solicitudes de Línea Nominado</wsdl:documentation>
      <wsdl:input message="tns:wsEstSolicHttpGetIn" />
      <wsdl:output message="tns:wsEstSolicHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsEstSolicHttpPost">
    <wsdl:operation name="wsEstSolic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Estado de Solicitudes de Línea Nominado</wsdl:documentation>
      <wsdl:input message="tns:wsEstSolicHttpPostIn" />
      <wsdl:output message="tns:wsEstSolicHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEstSolicSoap" type="tns:wsEstSolicSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsEstSolic">
      <soap:operation soapAction="http://tempuri.org/wsEstSolic/Service1/wsEstSolic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEstSolicSoap12" type="tns:wsEstSolicSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsEstSolic">
      <soap12:operation soapAction="http://tempuri.org/wsEstSolic/Service1/wsEstSolic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEstSolicHttpGet" type="tns:wsEstSolicHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wsEstSolic">
      <http:operation location="/wsEstSolic" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEstSolicHttpPost" type="tns:wsEstSolicHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wsEstSolic">
      <http:operation location="/wsEstSolic" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEstSolic">
    <wsdl:port name="wsEstSolicSoap" binding="tns:wsEstSolicSoap">
      <soap:address location="http://clientes.seguroscontinental.com/wsEstSolicD/wsEstSolic.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEstSolicSoap12" binding="tns:wsEstSolicSoap12">
      <soap12:address location="http://clientes.seguroscontinental.com/wsEstSolicD/wsEstSolic.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEstSolicHttpGet" binding="tns:wsEstSolicHttpGet">
      <http:address location="http://clientes.seguroscontinental.com/wsEstSolicD/wsEstSolic.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEstSolicHttpPost" binding="tns:wsEstSolicHttpPost">
      <http:address location="http://clientes.seguroscontinental.com/wsEstSolicD/wsEstSolic.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>